# directories
cache
node_modules
out
source
bin/
lib64
lib/python3.12/
include

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
yarn.lock
pyvenv.cfg

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/

./frontend/.env
./frontend/.next
./frontend/out
./frontend/node_modules
./frontend/.DS_Store

ignoredir

BASE_SEPOLIA_logs.txt