# directories
cache
node_modules
out/*
!out/WillWe.sol/
!out/Execution.sol/
!out/Membranes.sol/
!out/Will.sol/
source
bin/
lib64
lib/python3.12/
include

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
yarn.lock
pyvenv.cfg

# ignore all files in the broadcast directory except the ones listed
!broadcast/*/WillWe.sol
!broadcast/*/Execution.sol
!broadcast/*/Membranes.sol
!broadcast/*/Will.sol
!broadcast/*/*/run-latest.json
broadcast

./frontend/.env
./frontend/.next
./frontend/out
./frontend/node_modules
./frontend/.DS_Store

ignoredir

BASE_SEPOLIA_logs.txt
OP_SEPOLIA_logs.txt
misc.txt

/ponder/.env.local
/ponder/.env.development
/ponder/.env.production
/ponder/.env.test
/ponder/.next
/ponder/out/
/ponder/node_modules/
/ponder/.env
/ponder/.ponder

